extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project.top-container
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= name

        p.lead.text-light=description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        
        ul
          each item in items
            li= item
        
        a.button.expanded(href=liveUrl, target='_blank') Live Demo 
        a.button.expanded(href=githubUrl, target='_blank') GitHub Repo
    
    img.image(src= imageA)
    img.image(src= imageB)
    img.image(src= imageC)